:root {
	
	--color-bg-1: #302F30; /* Color under gradient */
	--color-bg-2: #202020; /* Header/box color */
	--color-bg-3: #101010; /* Fade color/alt background */
	
	--color-fg-1: #FFFFFF;
	--color-fg-2: #E0E0E0;

	--color-link-1: #6A9BD9; /* Link standard color */
	--color-link-2: #99B7DE; /* Link hover color */
	
	--corner-radius: 6px;
	
	--header-height: 100px;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	background: var(--color-bg-1);
	font-family: 'Roboto', sans-serif;
}

.alt-background {
	position: absolute;
	width: 100%;
	background: var(--color-bg-3);
}

p {
	margin-block-start: 0;
	margin-block-end: 0;
}

/* Modifiers */
.left {
    float: left;
}

.right {
    float: right;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.small {
    width: 30%;
}

/*===============*/
/* Header/Navbar */
/*===============*/

.header > img.logo {
    height: var(--header-height);
	float: right;
}

.header {
	position: sticky;
	font-weight: 700;
	box-shadow: 0px 10px 20px #151515;
	background: var(--color-bg-2);
	overflow: auto;
	padding: 1rem;
	z-index: 10;
	height: var(--header-height);
	margin: 0;
	top: 0;
	color: var(--color-fg-1);
}

.navbar {
	position: absolute;
	bottom: 1rem;
}

.header a {
	transition: background 0.2s;
	border-radius: 6px;
	position: relative;
	display: inline-block;
	padding: 1rem;
	margin: 0 0.5rem;
}

.header a:first-child {
	margin: 0 0.5rem 0 0;
}

.header a {
	text-decoration: none;
	list-style: none;
	color: var(--color-fg-1);
}

.header a:visited {
	text-decoration: none;
	font-weight: 700;
	color: var(--color-fg-2);
}

.header a:hover {
	background: rgba(255,255,255,0.2);
}

/*=====================*/
/* Video/Image Wrapper */
/*=====================*/

.preview-wrapper {
	position: relative;
	/*height: 720px;*/ /*Causes wrapper to be too large when viewed on a smaller screen*/
	max-height: 620px;
	width: 100%;
}

.preview-overlay {
	background: linear-gradient(rgba(0,0,0,0), var(--color-bg-3));
	position: absolute;
	z-index: 9;
	height: 100%;
	width: 100%;
}

.preview-video {
	left: 50%;
	transform: translate(-50%, 0);
	position: absolute;
}

.preview-image {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/*==============*/
/* Body Content */
/*==============*/

.main-body {
	width: 65%;
	margin: 0 17.5%;
}
	
.columns {
	display: flex;
}



.main-body h1 {
	color: var(--color-fg-1);
	margin: 1rem 0;
	padding: 0 1rem 0 1rem;
	font-size: 3rem;
	text-decoration: underline;
}

.accordion {
    cursor: pointer;
    margin-block-start: 0.2em;
    margin-block-end: 0.83em;
}

.accordion-panel {
    overflow: auto;
    
    display: none;
}

.center-columns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-rows {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* Column styling */
.column {
	width: calc(100% / 2);
}

.column > * {
	margin: 0 0 1rem 0;
}

/* Style textboxes */
.body-text {
	width: calc(100% - 3rem);
	margin: 0.5rem;
	padding: 1rem;
	font-size: 1.1rem;
	border-radius: var(--corner-radius);
	background: var(--color-bg-2);
	color: var(--color-fg-1);
}

/* Header */
.body-text > h2 {
	background: rgba(255,255,255,0.1);
	box-shadow: 0 4px 4px #151515;
	transform: translate(-1rem, 0);
	padding: 0.5rem 1.5rem;
	margin: 0 0 0.5rem 0;
	width: calc(100% - 1rem);
}

/* Links */
a {
	transition: color 0.2s;
	text-decoration: none;
	color: var(--color-link-1); }
a:hover {
	color: var(--color-link-2);
}

/* Images */
.main-picture {
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;}

figure {
    margin: 0;
    padding: 0;
}

.body-text figure {
	display: flex; }

.body-text figure img {
	transition: filter 0.2s;
	border-radius: calc(var(--corner-radius) / 2);
	max-width: 100%; }
.body-text figure:hover img {
	filter: brightness(0.2);
}

img.body-img {
	width: 100%;
	max-width: 400px;
}

/* Image caption */
.body-text figure figcaption {
	transition: opacity 0.2s;
	position: absolute;
	align-self: center;
	text-align: center;
	opacity: 0;
	width: calc((65% / 2) - 3rem); /* 1 Column's width - Sum of all padding */
}
.body-text figure.full figcaption {
	width: calc((65%) - 3rem);
}

.body-text figure:hover figcaption {
	opacity: 1;
}

.body-text > .image + p {
	margin: 0.5rem 0 0 0;
}

/* Logo */
.logo-container {
	height: 100%;
	position: relative;
	float: right;
	width: 30%;
	max-width: 290px;
}

.logo-container a {
	padding: 0 !important;
	margin: 0 !important;
	display: block !important;
}
.logo-container a:hover {
	background: transparent !important;
}
  
img.logo, img.logo-top {
	max-height: 100px;
	transition: 0.3s;
	padding: 0 !important;
	margin: 0 !important;
	position: absolute !important;
	left: 0;
	top: 0;
}

img.logo-top {
	opacity: 0;
	position: absolute !important;
	left: 0;
	top: 0;
}
img.logo-top:hover {
	opacity: 1;
}

/*========*/
/* Table  */
/*========*/
table {
	color: var(--color-fg-1);
}

td {
	padding: 0 1em;
}
/*========*/
/* Footer */
/*========*/
.footer {
	background: var(--color-bg-2);
	display: flex;
	justify-content: center;
	margin: 2rem 0 0 0;
	height: 200px;
	width: 100%;
}

.icons, .text-info {
    display: flex;
	margin: 1rem;
	color: var(--color-fg-1);
}

.icon-bg {
	text-decoration: none;
	transition: opacity 0.2s;
	opacity: 0.5;
	display: flex;
	padding: 0.25rem;
	margin: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 0.8rem;
}

/*===========================*/
/* Computers Donated Display */
/*===========================*/

.computers-donated #thousands-place::before {
    content: "0"; /*Change number to change number of computers donated.*/
}

.computers-donated #hundreds-place::before {
    content: "0"; /*Change number to change number of computers donated.*/
}

.computers-donated #tens-place::before {
    content: "0"; /*Change number to change number of computers donated.*/
}

.computers-donated #ones-place::before {
    content: "9"; /*Change number to change number of computers donated.*/
}

.computers-donated {
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0 0 1rem 0.25rem var(--color-bg-3);
	bottom: 2rem;
	right: 2rem;
	padding: 1rem;
	color: var(--color-fg-1);
	background: var(--color-bg-1);
	border-radius: var(--corner-radius);
	z-index: 11;
}

.donator-numbers > span {
	display: inline-block;
	background: linear-gradient(var(--color-bg-3) 50%, var(--color-bg-2) 50%);
	margin: 0.25rem;
	padding: 0.75rem;
	font-size: 1.5rem;
	border-radius: var(--corner-radius);
}

.donator-numbers > span::after {
	content: "";
	display: block;
	position: absolute;
	width: 12%;
	bottom: 40%;
	height: 2px;
	background: var(--color-bg-2);
}


.footer:hover .icon-bg {
	opacity: 1; }
.icon-bg:hover {
	opacity: 0.5 !important;
}

.icon-bg > i {
	font-size: 2rem;
	margin: 0.5rem;
	color: var(--color-fg-1);
	transform: translate(-25%, -50%);
}

#youtube-bg {
	background: rgb(220, 20, 20);
}

#instagram-bg {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
	
#snapchat-bg {
	background: #FFFC00;
}

@media screen and (max-width: 1300px)
{
	.computers-donated {
        padding: 0;
		bottom: 10px;
		right: 10px;
    }
	.computers-donated h4 {
		text-align: center;
	}
	.computers-donated span {
		padding: 0.6rem;
	}
}

@media screen and (max-width: 1000px)
{
    .computers-donated {
        display: none;
    }
    
	.logo-container {
		width: 15%;
	}
	
	.full-if-small {
	    width: 100%;
	}
	
	.no-float-if-small {
	    float: none;
	}
}

@media screen and (max-width: 800px)
{
	.logo-container {
		display: none;
	}
	
	.main-body {
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 600px)
{
    .columns {
        display: block;
    }
	.column {
		width: 100%;
		float: none;
	}
	
	.icons {
	    display: block;
	}
	
	.row {
		display: initial;
	}
}